<div class="header">
  <div class="container">
    <div class="header-left">
      <div class="w3layouts-logo">
        <h1>
          <a href=/><img class="logo" src="{{ site.url }}/assets/img/logo.svg" height="65"></a>
        </h1>
      </div>
    </div>
    <div class="top-nav">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="active" href="/">Inicio</a></li>
            <li><a href="/about">Acerca</a></li>
            <li><a href="/services">Servicios</a></li>
            <li><a hrof="/blog">Paquetes</a></li>
            <li><a href="/galleries">Galerías</a></li>
            <li><a href="/contact">Contáctanos</a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
      </nav>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>