body {
  display: flex;
  flex-flow: column;
}

.logo {
  margin: 1em 0;
}

.site-header {
  .logo {
    margin: 1em;
  }
  .navbar {
    .navbar-toggle, .navbar-toggle {
      background-color: transparent;
      border-color: white;
      .icon-bar {
        background-color: white;
      }
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: transparent;
      border-color: white;
    }
    &.navbar-fixed-top .navbar-collapse {
      max-height: initial;
      border: 0;
    }
    border: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    .nav > li > a {
      color: white;
      margin: 1.8em auto;
      &:hover {
        background: none;
      }
    }
  }
}

.featurettes {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      height: 100vh;
      width: auto;
      background-size: cover;
      background-position: center;
      filter: grayscale(1) sepia(1) hue-rotate(40deg);
      &:before {
        content: '';
        background-color: #0000006e;
        opacity: 1;
        width: 100vw;
        height: 100vh;
        display: flex;
      }
    }
  }
}

.footer {
  color: #eff0f1;
  .footer-logo--big {
    width: 75%;
    padding-right: 12em;
    height: auto;
    @media (max-width: 768px) {
      padding: 0 20px;
      width: 100%;
    }
  }
}