---
layout: default
---
{% include home-header.html %}
<!--div class="banner-bottom">
    <div class="container">
        <div class="w3l-banner-bottom-grids">
            <div class="col-md-4 w3l-banner-bottom-grid">
                <div class="bottom-icon">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
                <div class="bottom-text">
                    <h4>Fusce molestie interdum</h4>
                    <p>Sed elementum accumsan dui convallis aliquet. Donec facilisis fringilla tincidunt. Maecenas imperdiet lectus in risus ultricies, vitae fringilla dui pretium.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 w3l-banner-bottom-grid">
                <div class="bottom-icon">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </div>
                <div class="bottom-text">
                    <h4>Praesent nec nunc eu metus</h4>
                    <p>Sed elementum accumsan dui convallis aliquet. Donec facilisis fringilla tincidunt. Maecenas imperdiet lectus in risus ultricies, vitae fringilla dui pretium.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 w3l-banner-bottom-grid">
                <div class="bottom-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="bottom-text">
                    <h4>Curabitur dapibus urna vel</h4>
                    <p>Sed elementum accumsan dui convallis aliquet. Donec facilisis fringilla tincidunt. Maecenas imperdiet lectus in risus ultricies, vitae fringilla dui pretium.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div-->
<!-- //banner-bottom -->
<!-- services -->
<div class="home">
    <div class="container">
        <!--div class="w3-agileits-heading">
            <h3>Excelencia <span>en servicios</span></h3>
        </div-->
        <div class="_wthree-services-grids">
            <div class="col-md-12 w3-agileits-services-grid">
                <!--i class="fa fa-plane" aria-hidden="true"></i-->
                <h4>Una cosa son las fotos y otra es ver el lugar, respirar el aire puro de la zona,
                    sentir la naturaleza e imaginar cómo puede ser tu evento.</h4>
                <p>Agendemos una cita y personalicemos tu evento. Aclaremos tus dudas y de
                    ser necesario te ayudamos con los proveedores que faltan.</p>
                <br>
                <p>Citas: <strong>RICARDO PORRAS</strong> Teléfono: <strong>55.17.84.64.97</strong></p>
                <p>Correo electrónico: <strong>elparianeventos@gmail.com</strong></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- posts -->
<!--div class="posts">
    <div class="container">
        <div class="w3-agileits-heading">
            <h3>Recent <span>Posts</span></h3>
        </div>
        <div class="posts-grids">
            <div class="col-md-4 w3-agile-post-grids">
                <div class="w3-agile-post-img">
                    <a href="single.html">
                        <ul>
                            <li>Sept</li>
                            <li>24</li>
                        </ul>
                    </a>
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="single.html">Quisque a rhoncus tortor</a></h4>
                    <p>Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.</p>
                </div>
            </div>
            <div class="col-md-4 w3-agile-post-grids">
                <div class="w3-agile-post-img w3-agile-post-img1">
                    <a href="single.html">
                        <ul>
                            <li>Oct</li>
                            <li>06</li>
                        </ul>
                    </a>
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="single.html">Suspendisse in nisl at ipsum</a></h4>
                    <p>Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.</p>
                </div>
            </div>
            <div class="col-md-4 w3-agile-post-grids">
                <div class="w3-agile-post-img w3-agile-post-img2">
                    <a href="single.html">
                        <ul>
                            <li>Nov</li>
                            <li>17</li>
                        </ul>
                    </a>
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="single.html">Mauris pellentesque ultricies</a></h4>
                    <p>Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div-->
<!-- //posts -->
<script src="js/responsiveslides.min.js"></script>
<script src="js/jarallax.js"></script>
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->